{% extends 'glowny.html' %}
{% load bootstrap %}
{% block tytul %} Film form {% endblock %}

{% block strona %}
    {% if nowy %}
        <div class="col-6">
    {% else %}
        <div class="card" style="width: 60rem; float: left; margin-right: 1rem;">
    {% endif %}
        <div class="card-body bg-dark text-light">
          {% if nowy %}
                <h5 class="card-title">Nowy Film</h5>
            {% else %}
                <h5 class="card-title">Edutuj film</h5>
            {% endif %}

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    {{ form_dodatkowe|bootstrap }}
                        {% if nowy %}
                            <br>
                            <button type="submit" class="btn btn-primary">Nowy Film</button>
                        {% else %}
                            <br>
                            <button type="submit" class="btn btn-primary">Edutuj film</button>
                        {% endif %}
                </form>
            </div>
        </div>
    </div>

    {% if form_ocena %}
        <div class="card" style="width: 32rem offset-col">
            <div class="card-body bg-dark text-light">
                <h5 class="card-title">Ocen film</h5>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_ocena|bootstrap }}
                        <br>
                        <button type="submit" class="btn btn-primary">Oceń</button>
                </form>
            </div>
        </div>
    {% endif %}
    
    {% for ocena in oceny %}
        <h4>Gwiazdki: {{ ocena.gwiazdki }}</h4>
        <p>{{ ocena.recenzja }}</p>
    {% endfor %}
    <hr>
    <a class="btn btn-danger mb-4" style="float: right;" href="{% url 'wszystkie_filmy' %}">Cofnij</a>

{% endblock %}