{% extends 'glowny.html' %}

{% block tytul %} Potwierdź {% endblock %}

{% block strona %} 
  <div class="row">
    <div class="col-4 col-xs-3 bg-dark rounded p-4" style="margin-left: auto; margin-right: auto;">
          <h5 class="text-light fs-3 fw-light mb-3">Czy napewno chcesz usunac "{{ film.film_tytul }}" film?</h5>
          <br>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger p-4" style="font-size: large;">Usun film</button>
            <a href="{% url 'wszystkie_filmy' %}" class="btn btn-success p-4 ml-5">Cofnij</a>
        </form>
    </div>
  </div>
    

 
{% endblock %}